# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data 
#data/raw/
#data/processed/
#data/interim/
#*.csv
*.parquet

# Secrets
*.pem
*.key
*.env
.DS_Store
*.csv
movie-recommendation-system/
movie_lens/

